body{
    background: url(../img/main.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  
}
/* .container{
    width: 100%;
    height: 100%;
} */
.card{
    width: 100%;
    height: min-content;
    min-height: 730px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    background-color: rgba(245, 245, 245, 0.26);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(30px);
}
/* .card-body{
    width: 100%;
    height: 100%;
} */
.titlemain{
    margin-bottom: 15px;
}
.textmain{
    font-size: 25px;
    margin-right: 10px;
}
.nav-item{
    background-color: rgba(225, 225, 225, 0.525);
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: background-color 0.2s ease-out 30ms;
}
.nav-item:hover{
    animation: pulse 0.1s;
    /* box-shadow: 0 0 0 2em transparent; */
}
/* .sep{
    min-width: 515px;
} */
.enlace{
    border-radius: 4px;
    text-decoration: none;
    color: rgb(177, 56, 52);
    background-color:rgba(225, 225, 225, 0.525);
    border: 0;
    transition: background-color 0.2s ease-out 30ms;
}
.enlace:hover{
    border-radius: 4px;
    background-color: rgb(177, 39, 34);
    color: rgb(255, 255, 255);
    animation: pulse 0.1s;
}
th{
    max-width: auto;
}
td{
    max-width: auto;
}
label{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: rgba(33, 33, 33, 0.834);
}
.pe{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: rgba(33, 33, 33, 0.834);
    background-color: aqua;
}
/* CABEZERA DE TABLA */
.hora{
    background-color: rgb(49, 49, 49);
    color: white;
}
.lu{
    background-color: rgb(145, 255, 0);
}
.ma{
    background-color: rgb(255,169,0,255);
}
.mi{
    background-color: rgb(57,192,237,255);
}
.ju{
    background-color: rgb(178,60,253,255);
}
.vi{
    background-color: rgb(249,49,84,255);
}
.hora, .lu, .ma, .mi, .ju, .vi{
    transition: background-color 0.4s ease-out 60ms;
}
.hora:hover, .lu:hover, .ma:hover, .mi:hover, .ju:hover, .vi:hover{
    animation: pulse 0.5s;
    box-shadow: 0 2em 2em 2em transparent;
  }
/* CUERPO DE TABLA */
.hor{
    background-color: rgba(245, 245, 245, 0.892);
}
.lun{
    background-color: #deffb3;
}
.mar{
    background-color: #fedfa4;
}
.mie{
    background-color: #b9e5f0;
}
.jue{
    background-color: #e0c6f1;
}
.vie{
    background-color: #fac5d1;
}
.hor, .lun, .mar, .mie, .jue, .vie{
    transition: background-color 0.4s ease-out 60ms;
}
/* HOVERS */
.hor:hover{
    animation: pulse 0.4s;
    box-shadow: 0 0 0 2em transparent;
}
.lun:hover{
    background-color: rgb(145, 255, 0);
}
.mar:hover{
    background-color: rgba(255,169,0,255);
}
.mie:hover{
    background-color: rgba(57,192,237,255);
}
.jue:hover{
    background-color: rgba(178,60,253,255);
}
.vie:hover{
    background-color: rgba(249,49,84,255);
}
.lun:hover, .mar:hover, .mie:hover, .jue:hover, .vie:hover{
    animation: pulse 0.4s;
    box-shadow: 0 0 0 2em transparent;
    color: black;
}

/*HORARIO ADMIN*/
.sel{
    background-color: #0b0c0c;
    height: 28px;
    font-size: 4px;
    padding: 0;
    margin: 1px;
}

.lunes{
    background-color: #deffb3;
    padding: 7px;
}
.martes{
    background-color: #fedfa4;
    padding: 7px;
}
.miercoles{
    background-color: #b9e5f0;
    padding: 7px;
}
.jueves{
    background-color: #e0c6f1;
    padding: 7px;
}
.viernes{
    background-color: #fac5d1;
    padding: 7px;
}
.lunes:hover{
    background-color: rgb(145, 255, 0);
}
.martes:hover{
    background-color: rgba(255,169,0,255);
}
.miercoles:hover{
    background-color: rgba(57,192,237,255);
}
.jueves:hover{
    background-color: rgba(178,60,253,255);
}
.viernes:hover{
    background-color: rgba(249,49,84,255);
}

/*FIN*/

.content-table{
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 15px;
    background-color: rgba(243, 243, 243, 0.467);
    padding: 10px;
}

.col-sm-3{
    min-width: 25%;
    min-width: min-content; 
    margin-left: 12px;
    margin: 3px 3px;
    padding-left: 20px;
    text-align: left;
    word-wrap: break-word;
    border: 2px;
    /* background-color: rgba(199, 220, 220, 0.761);  */
    color: rgba(81, 81, 81, 0.945);
    background-color: rgba(245, 250, 255, 0.908);
    border-radius: 5px;
    /* transition: background-color 0.3s ease-out 30ms; */
}
.col-sm-3:hover{
    animation: pulse 0.1s;
    /* box-shadow: 0 0 0 2em transparent; */
}
.col-sm-4{
    min-width: 52%;
    margin: 3px 3px;
}
.row.mb-3{
    align-items: center;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 5px;
}
.form-control{
    min-width: min-content;
    width: 100%;
    padding-left: 20px;
    border-radius: 5px;
    word-wrap: break-word;
    background-color: rgb(239, 239, 239);
    text-align: left;
    color: rgba(39, 35, 35, 0.934);
    font-size: 15px;
}

.form-control:hover{
    background-color: rgb(247, 247, 247);
    font-size: 16px;
}

.ingresar{
    width: 30px;
    height: 30px;
}

.modaHorario{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.81);
}
.bodyModal{
    width: 100%;
    height: 100%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#FormHorario{
    width: 420px;
    text-align: center;
}
/*
.btn-primary{
    background-color: rgb(3, 124, 120);
    border-color: rgb(3, 124, 120);
}
.btn-primary:hover{
    background-color: rgb(2, 80, 77);
    border-color:  rgb(2, 80, 77);
} */
/* ul{
    background-color: rgba(220, 228, 228, 0.315);  
} */

/* .hora{
    background-color: rgba(163, 168, 164, 0.834);
}
.lu{
    background-color: rgba(76, 159, 93, 0.834);
}
.ma{
    background-color: rgba(159, 158, 76, 0.834);
}
.mi{
    background-color: rgba(76, 159, 152, 0.834);
}
.ju{
    background-color: rgba(97, 76, 159, 0.834);
}
.vi{
    background-color: rgba(154, 76, 159, 0.834);
} */